.dish-container {
  margin: 2em auto;
}
.dish-title {
  text-align: center;
}

.dish-form {
  display: flex;
  width: 55%;
  margin: 1em auto;
  background-color: #FEEAE3;
}
.dish-left {
  width: 46%;
  text-align: center;
  height: auto;
  margin-right: 1em;
  margin-left: 2em;
  line-height: 3em;
}
#dish_img_output {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  /* border: 4px dotted #FEEAE3; */
}
.dish_img_output_1 {
  position: relative;
  z-index: 1;
}
.dish-right {
  /* background-color: #EA6A2E; */
  width: 54%;
}
.dish-img-label {
  position: relative;
  top: 30%;
  background-color: #EA6A2E;
  border: 1px solid #feeae3;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 2em;
}
.dish_input_field {
  margin: 10px 0;
  padding: 8px 15px;
  display: flex;
  width: 100%;
}
.dish_input_field .input_left {
  width: 40%;
  padding-top: 6px;
  padding-left: 8px;
}
.dish_input_field .input_right {
  width: 60%;
}
.dish_input_field label {
  font-weight: bold;
}
.dish_input_field input {
  padding: 8px 20px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  width: 65%;
}
.dish_input_field textarea {
  width: 80%;
}
.dish-button {
  text-align: center;
}
.dish_input_button {
  width: 12%;
  margin-bottom: 2em;
  background: linear-gradient(to bottom, #ffcb2f 0%, #fd8666 100%);
  border-radius: 30px;
  transition: 0.5s;
  font-family: "Courier New", Courier, monospace;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to bottom, #f7a035 0%, #fd8666 100%);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1em;
}
#dish_img_text_alert {
  font-size: 20px;
  margin: 30px;
}
