.vtmainpage {
  margin-bottom: 4em;
}
.vtmainpagehero {
  position: relative;
  margin: 0 auto;
}
.vtmainpageherotext {
  display: inline-block;
  vertical-align: top;
  padding: 2em 0 0 2em;
  font-size: 2em;
}
.vtmainpageherotext2 {
  padding-left: 5em;
}
.vtmainpageheropic {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 2em 2em 0 0;
}
.vtmainpageheropic img {
  width: 700px;
  height: 230px;
  border-radius: 40%;
}

.vtmainpagemidpic {
  display: inline-block;
  vertical-align: top;
}
.vtmainpagemidpic img {
  margin: -20em 0 0 3em;
  width: 400px;
  float: left;
}
.vtmainpagemidtext {
  display: inline-block;
  vertical-align: top;
}
.vtmainpagemidtext-p {
  font-size: 1em;
  font-weight: bold;
  color: aliceblue;
  margin: 6em 0 0 20em;
  background-color: #f4a85e;
  text-align: center;
  padding: 6em 22em;
}

.volunteer-home-main {
  /* margin-top: 15em; */
}
.partner-home-main-title {
  text-align: center;
  color: coral;
  padding: 2em;
}
.phome-main-row {
  display: flex;
  width: 90%;
  margin: auto;
}
.phome-main-row1 {
  display: flex;
  width: 90%;
  margin: 3em auto;
}

.phome-main-left,
.phome-main-right {
  display: flex;
  width: 50%;
}
.phome-main-img-div {
  width: 40%;
}
.phome-main-info-div {
  width: 60%;
  padding: 2em 3em;
  line-height: 2em;
}
.phome-main-img {
  width: 100%;
  height: 30vh;
}
